certifi==2026.7.22 ; python_version >= "3.12" and python_version < "3.16"
charset-normalizer==3.5.2 ; python_version >= "3.12" and python_version < "3.16"
customtkinter==6.0.0 ; python_version >= "3.12" and python_version < "3.16"
darkdetect==0.8.0 ; python_version >= "3.12" and python_version < "3.16"
idna==3.20 ; python_version >= "3.12" and python_version < "3.16"
packaging==26.3 ; python_version >= "3.12" and python_version < "3.16"
requests==2.34.2 ; python_version >= "3.12" and python_version < "3.16"
urllib3==2.8.0 ; python_version >= "3.12" and python_version < "3.16"
